body {
    font-family: Arial, sans-serif;
    background-color: #212226;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #E2F263;
    margin: 20px 0;
}

.container {
    background-color: #525259;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
    margin: 20px;
}

.container div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #E2F263;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: 2px solid #525259;
    border-radius: 4px;
    background-color: #E2F263;
    color: #212226;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button#btnVoltar {
    margin-right: 1800px;
    margin-top: 15px;
    background-color: #CFF250;
}

button#btnVoltar:hover {
    background-color: #e53935;
}

#resultado {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #525259;
    border-radius: 4px;
    background-color: #525259;
    font-size: 16px;
    color: #E2F263;
}
